/* ===========================
   HEADER STYLES
   =========================== */

#message-top{
	width: 100%;
	height: 44px;
	background-color: #838383;
	font-weight: 500;
	font-family: "Roboto", Sans-serif;
}
#message-top *{
	text-decoration: none !important;
	color: #FFFFFF;
	line-height: 44px;
	font-size: 15px;

}
#message-top i, .header-sticky i{
	margin-right: 5px;
}
.contact-info a{
	margin:0 8px;
}
.header-sticky{
	width: 100%;
	background-color: #FFFFFF;
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 20px 15px;
}
.header-sticky.sticky{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	margin-bottom: 0px;
}
.header-logo{
	max-width: 250px;
	height: auto;
}
.whatsapp-button{
	background-color: #00BC10;
	color: #FFFFFF;
	border-radius: 25px;
	padding: 10px 20px;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none !important;
	display: none;
	justify-content: center;
	align-items: center;
	width: 155px;
	margin-right: 20px;
}
@media (min-width: 768px) {
	.whatsapp-button {
		display: flex;
	}
}
.whatsapp-button:hover{
	text-decoration: none !important;
	color:#FFFFFF;
}
.social-icon {
	background-color: rgb(1, 112, 185);
	margin-right: 10px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-icon *{
	color: #FFFFFF;
	font-size: 18px;
}
.social-icon i{
	margin-right: 0;
}

.sticky-right{
	width: 70%;
}
.sticky-right nav{
	width: 100%;

}

#menu-principal-container{
	padding-right: 20px;
	margin-top: 10px
}

#menu-principal{
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 20px;
	margin-top: 5px;
	display: flex;
}
#menu-principal li{
	padding: 10px 0;
	position: relative;
}
#menu-principal li a{
	font-size: 15px;
	font-family: "Roboto", Sans-serif;
	color: #000000;
	font-weight: 400;
	padding: 0 10px;
}
#menu-principal li a > i{
	margin-left: 5px;
}
#menu-principal li a:hover{
	color: #0170B9;
	text-decoration: none;
}
#menu-principal > li > ul{
	display: none;
}
#menu-principal > li:hover > ul{
	display: block;
	position: absolute;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	margin-top: 0;
	border-radius: 5px;
	width: 100%;
}
#menu-principal > li:hover > ul > li{
	padding: 10px 10px;
}
#menu-principal > li:hover > ul > li:hover{
	background-color: #55595c;
}
#menu-principal > li:hover > ul > li > a{
	color: #0170B9;
}
#menu-principal > li:hover > ul > li:hover > a {
	color: #FFFFFF;
	text-decoration: none;
}
.menu-search{
	margin-top: 10px;
	font-family: "Roboto", Sans-serif;
	font-weight: 400;
	font-size: 17px;
}
.menu-search span{
	font-size: 15px;
}
.menu-products{
	display: flex;
	align-items: center;
}

@media (max-width: 768px) {
	html,body{
		overflow: hidden;
	}
	#message-top {
		height: auto;
		text-align: center;
		padding: 10px 0;
	}
	#message-top .message {
		padding-bottom: 15px;
	}
	#message-top * {
		line-height: normal;
	}
	.contact-info{
		justify-content: center;
		align-items: center;
	}
	.contact-info *{
		text-decoration: none !important;
		color: #FFFFFF;
		line-height: 150% !important;
	}
	.contact-info a{
		font-size: 14px !important;
		margin:1px;
	}
	.header-logo {
		max-width: 80%;
	}
	.header-sticky {
		padding: 10px 5px;
	}
	.header-sticky .container {
		padding: 0;
	}
	.social-icon{
		width: 25px;
		height: 25px;
		margin-right: 5px;
	}
	.social-icon i{
		font-size: 16px;
	}
	.sticky-right{
		width: 40%;
		padding-top:10px
	}
	.menu-search{
		margin-top: 20px;
		margin-left: 20px;
	}
	.menu-mobile{
		background-color: rgba(0,0,0,.05);
		padding: 0 5px;
		text-align: center;
		margin-top: 30px;
	}
	.mobile-menu-container {
		display: flex;
		margin-right: 20px;
	}
	#menu-principal {
		display: none;
	}
	#menu-mobile-button i{
		margin-right: 0;
	}
}

/* Desktop: Hide mobile menu */
@media (min-width: 768px) {
	.mobile-menu-container {
		display: none !important;
	}
}